/* Прелоадер */

#p_prldr{
position: fixed;
left: 0;
top: 0;
right:0;
bottom:0;
background: #e2e3e6;
z-index: 30;}

.contpre small{font-size:25px;}

.contpre{
width: 250px;
height: 100px;
position: absolute;
left: 50%;top: 48%;
margin-left:-125px;
margin-top:-75px;
color:#fff;
font-size:40px;
letter-spacing:-2px;
text-align:center;
line-height:35px;}

#p_prldr .svg_anm {
position: absolute;
width: 41px;
height: 41px;
background: url(../img/spinning-circles.svg) center center no-repeat;
background-size:41px;
margin: -16px 0 0 -16px;}

/* Specification */

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);


.gradient-gray{
    background: rgb(255,255,255);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 33%, rgba(246,246,246,1) 68%, rgba(246,246,246,1) 68%, rgba(255,255,255,1) 99%);
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 33%,rgba(246,246,246,1) 68%,rgba(246,246,246,1) 68%,rgba(255,255,255,1) 99%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 33%,rgba(246,246,246,1) 68%,rgba(246,246,246,1) 68%,rgba(255,255,255,1) 99%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
    }

.social a{
    text-align:center;
    width:46px;
    height:46px;
    float:left;
    background:#e2e3e6;
    border-radius:46px;
    margin:0 10px 10px 0;
    padding:6px;
    color:#fff;
}
.github a:hover{background:#191919;color:#fff;}
.youtube a:hover{background:#c4302b;color:#fff;}
.google-pluse a:hover{background:#DD4B39;color:#fff;}
.twitter a:hover{background:#00acee;color:#fff;}
.instagram a:hover{background:#3f729b;color:#fff;}
.facebook a:hover{background:#3b5998;color:#fff;}
.skype a:hover{background:#00aff0;color:#fff;}
.vk a:hover{background:#5d84ae;color:#fff;}
.odnoklassniki a:hover{background:#f93;color:#fff;}
.pinterest a:hover{background:#c8232c;color:#fff;}
.linkedin a:hover{background:#0e76a8;color:#fff;}
.telegram a:hover{background:#249bd7;color:#fff;}
.tumblr a:hover{background:#34526f;color:#fff;}
.windows a:hover{background:#125acd;color:#fff;}
.whatsapp a:hover{background:#50b154;color:#fff;}
.weibo a:hover{background:#d52b2b;color:#fff;}
.dropbox a:hover{background:#1087dd;color:#fff;}

.montserrat {
    font-family: 'Montserrat', arial;
    font-weight: 700;
}

.crimsontext {
    font-family: 'Crimson Text', arial;
    font-size: 24px;
    color: #8a8f9c;
}

a {
    text-decoration: none;
    color: #fff;
}

button {
    background: none;
    border: 1px solid #e2e3e6;
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 600;
    color: rgb(216, 155, 100);
    cursor: pointer;
}

li {
    list-style-type: none;
}

body {
    margin: 0;
}

.header {
    background: #161b29 url(../img/header_bg.jpg) no-repeat center bottom / cover;
    color: #fff;
    height: 100vh;
}
.menu-header {
    height: 166px;
    border-bottom: 1px solid #e2e3e6;
}

h2 {
    font-size: 58px;
    line-height: 84px;
    font-family: 'Montserrat', arial;
    font-weight: 700;
}

h3 {}

h4 {
    font-size: 18px;
    font-family: "Montserrat";
    color: rgb(216, 155, 100);
    font-weight: 700;
    line-height: 4.686;
}

.footer {
    height: 100vh;
}

.details {
    height: 100vh;
}

.container {
    margin: 0 5%;
    position: relative;
}

/* Hero section */

.header .container {
    height: 100vh;
}

.header-logo {
    background: url(..//img/header_logo.png) no-repeat left center;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    width: 70px;
    padding-left: 46px;
    padding-top: 10px;
    height: 37px;
    position: absolute;
    left: 0;
    top: 65px;
}

.brand{
    color: #fff;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.brand:hover {
    color: #d89b64;
}

.menu-header .container .header-logo a {
    color: #151b28;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.menu-header .container .header-logo a:hover {
    color:#d89b64;
}

.main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 16px;
    color: #fff;
    width: 473px;
    position: absolute;
    top: 80px;
    right: 0;
}

.main-menu div {
    margin-right: 80px;
}

.main-menu div:last-child {
    margin-right: 0;
}

.main-menu a {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.main-menu a:hover {
    color: #d89b64;
}

.menu-main-menu a {
    color: #151b28;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.slider {
    padding-top: 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.slider__slide {
    padding-left: 53px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.slider__left-arrow {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.slider__right-arrow {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.slider__left-arrow:hover, .slider__right-arrow:hover {
    cursor: pointer;
}

/* Perfection section */

.perfection .container {
    height: 100vh;
    margin: 0 5%;
    position: relative;
}

.container__perfection, .container__progress {
    position: relative;
    margin: 0 auto;
    margin-top: 90px;
    color: #151b28;
    text-align: center;
    background: url(../img/gratia.jpg)no-repeat;
    width: 680px;
    height: 188px;
}

.container__menu>h2 {
    margin: 0;
    padding-top: 17px;
}

.container__menu>p{
    margin: 0;
}

.container__menu {
    position: relative;
    margin: 0 auto;
    margin-top: 90px;
    color: #151b28;
    text-align: center;
    background: url(../img/gratia.jpg)no-repeat;
    width: 680px;
    height: 188px;
}

.container__perfection>h2 {
    margin: 0;
    padding-top: 17px;
}

.container__perfection>p, .container__progress>p {
    margin: 0;
}

.perfection__flex, .progress__flex {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.perfection__flex p, .progress__flex p {
    font-size: 20px;
    color: #fff;
}



.desserts {
    background: #444953 url(../img/desert.jpg) no-repeat;
    width: 32%;
    height: 411px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-blend-mode: overlay;
}

.desserts:hover {
    cursor: pointer;
    background: url(../img/desert.jpg) no-repeat center;
    -webkit-box-shadow: 12px 12px 65px rgba(51, 51, 51, 0.45);
            box-shadow: 12px 12px 65px rgba(51, 51, 51, 0.45);
}
.menu-cart{
    width: 32%;
    height: 693px;
    background-color: #fff;
}

.menu-cart{
    margin-bottom: 70px;
    -webkit-box-shadow: 12px 12px 65px rgba(51, 51, 51, 0.45);
            box-shadow: 12px 12px 65px rgba(51, 51, 51, 0.45);
}



.menu-cart h2{
    text-align: center;
}
.menu-cart p{
    color:#8b909d;
    text-align: center;
}

.menu-dishes {
    background: #444953 url(../img/dishes.jpg) no-repeat;
    height: 411px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-blend-mode: overlay;
}

.menu-dishes:hover {
    cursor: pointer;
    background: url(../img/dishes.jpg) no-repeat center;
    -webkit-box-shadow: 12px 12px 65px rgba(51, 51, 51, 0.45);
            box-shadow: 12px 12px 65px rgba(51, 51, 51, 0.45);
}

.menu-soups{
    background: #444953 url(../img/soups.jpg) no-repeat left;
    height: 411px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-blend-mode: overlay;
}

.menu-soups:hover {
    cursor: pointer;
    background: url(../img/soups.jpg) no-repeat center;
    -webkit-box-shadow: 12px 12px 65px rgba(51, 51, 51, 0.45);
            box-shadow: 12px 12px 65px rgba(51, 51, 51, 0.45);
}

.menu-hamburgers{
    background: #444953 url(../img/humburger.jpg) no-repeat left;
    height: 411px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-blend-mode: overlay;
}

.menu-hamburgers:hover {
    cursor: pointer;
    background: url(../img/humburger.jpg) no-repeat center;
    -webkit-box-shadow: 12px 12px 65px rgba(51, 51, 51, 0.45);
            box-shadow: 12px 12px 65px rgba(51, 51, 51, 0.45);
}

.menu-desserts{
    background: #444953 url(../img/desserts.jpg) no-repeat left;
    height: 411px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-blend-mode: overlay;
}

.menu-desserts:hover {
    cursor: pointer;
    background: url(../img/desserts.jpg) no-repeat center;
    -webkit-box-shadow: 12px 12px 65px rgba(51, 51, 51, 0.45);
            box-shadow: 12px 12px 65px rgba(51, 51, 51, 0.45);
}

.menu-barbecue{
    background: #444953 url(../img/barbecue.jpg) no-repeat left;
    height: 411px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-blend-mode: overlay;
}

.menu-barbecue:hover {
    cursor: pointer;
    background: url(../img/barbecue.jpg) no-repeat center;
    -webkit-box-shadow: 12px 12px 65px rgba(51, 51, 51, 0.45);
            box-shadow: 12px 12px 65px rgba(51, 51, 51, 0.45);
}

.menu-salads{
    background: #444953 url(../img/salads.jpg) no-repeat left;
    height: 411px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-blend-mode: overlay;
}

.menu-salads:hover {
    cursor: pointer;
    background: url(../img/salads.jpg) no-repeat center;
    -webkit-box-shadow: 12px 12px 65px rgba(51, 51, 51, 0.45);
            box-shadow: 12px 12px 65px rgba(51, 51, 51, 0.45);
}

.smoothies {
    background: #444953 url(../img/smoothies.jpg) no-repeat center;
    width: 32%;
    height: 694px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-blend-mode: overlay;
}

.smoothies:hover {
    cursor: pointer;
    background: url(../img/smoothies.jpg) no-repeat;
    -webkit-box-shadow: 12px 12px 65px rgba(51, 51, 51, 0.45);
            box-shadow: 12px 12px 65px rgba(51, 51, 51, 0.45);
}

.breakfast {
    background: #444953 url(../img/breakfast.jpg) no-repeat center;
    width: 32%;
    height: 490px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-blend-mode: overlay;
}

.breakfast:hover {
    cursor: pointer;
    background: url(../img/breakfast.jpg) no-repeat;
    -webkit-box-shadow: 12px 12px 65px rgba(51, 51, 51, 0.45);
            box-shadow: 12px 12px 65px rgba(51, 51, 51, 0.45);
}

.desserts {
    text-align: center;
    color: #cc9966;
    padding-top: 140px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.smoothies {
    text-align: center;
    color: #cc9966;
    padding-top: 415px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.breakfast {
    text-align: center;
    color: #cc9966;
    padding-top: 140px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* Details section */

.other-offer {
    margin: 0 auto;
    border-bottom: 2px solid #cc9966;
    width: 214px;
    height: 60px;
    margin-bottom: 90px;
}

.container__details {
    background: url(../img/details.jpg) no-repeat center center / cover;
    width: auto;
    height: 708px;
}

.details-box {
    width: 777px;
    height: 434px;
    background: #fff;
    position: relative;
    top: 13%;
    left: 29.5%;
}

.dishes {
    text-align: center;
    width: 695px;
    height: 353px;
    border: 1px solid #e2e3e6;
    margin: 0 auto;
    position: relative;
    top: 40px;
}

.dishes>h2 {
    margin-bottom: 20px;
}

.dishes-btn {
    padding: 25px 15px 25px 15px;
}

/* Footer */

.locations, .fresh, .best {
    width: 32%;
    background: #f8f8f8;
    height: 300px;
    text-align: center;
}

.progress__flex h2 {
    font-size: 24px;
    color: #cc9966;
    padding-top: 73px;
    line-height: 48px;
}

.progress__flex p {
    color: #8b909d;
}

.fresh {
    background: url(../img/532.jpg) no-repeat center;
    height: 375px;
}

.fresh h2 {
    padding-top: 112px;
    line-height: 48px;
}

.fresh p {
    color: #fff;
}

.container__progress h2 {
    font-size: 48px;
    line-height: 10px;
    padding-top: 58px;
}

.footer__container {
    border-top: 1px solid #e2e3e6;
    height: 450px;
    margin-top: 145px;

}

.footer__logo {
    margin: 0 auto;
    border-radius: 70px;
    background: #fff;
    width: 136px;
    height: 136px;
    border: 1px solid #e2e3e6;
    position: relative;
    top: -68px;
}

.footer__logo img {
    padding-left: 27px;
    padding-top: 27px;
}

.name {
    font-size: 18px;
    text-align: center;
    margin-bottom: 130px;
}
.footer__social{
    margin: 0 auto;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.footer__social a {


}
.icon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;

}

/* Contact */
/* Form */
.book-form{
    background: #e3e5e8;
    box-shadow: 0 0 20px 7px darkgrey;
    width: 700px;
    margin: 100px auto;
}
form{
    color: #151b28;
}
.form-flex{

}

.book-form__dd,.book-form__mm,.book-form__yyyy,.book-form__hour,
.book-form__NofP{
    width: 111px;
    height: 33px;
    text-align: center;
    margin-bottom: 40px;
    box-sizing: border-box;
    border: none;
    color: #151b28;
}

.book-form__dd{
    margin-left: 40px;
    margin-top: 20px;
}
.book-form__mm,.book-form__yyyy,.book-form__hour,
.book-form__NofP{
    margin-left: 10px;
    margin-top: 20px;
}
.book-form__name,.book-form__phone,.book-form__email,.book-form__menu{
    width: 300px;
    height: 55px;
    margin-bottom: 40px;
    padding-left: 30px;
    box-sizing: border-box;
    border: none;
    margin-left: 40px;
    color: #151b28;
}

.book-form__phone,.book-form__menu{
    margin-left: 10px;


}
.book-form__menu:hover{
    background: #151b28;
    color: #d89b64;
}
.book-form__commet{
    margin-left:40px;
    width: 610px;
    color: #151b28;
}

.select {
  position: relative;
  display: inline-block;
  color: #151b28;
}
.select:hover{
    color: #fff;
}
.select:after {
  content: "✚";
  padding: 0 8px;
  font-size: 12px;
  position: absolute;
  right: 8px;
  top: 18px;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
}
select {
  padding-right: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.book-form__send{
    border:none;
    cursor: pointer;
    background: #d79a63;
    color: #fff;
    width: 100%;
    margin-top: 40px;
    height: 55px;
}
/* Meal.html */
.container__meal{
    width: 78%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    -webkit-box-shadow: 12px 12px 65px rgba(51, 51, 51, 0.45);
    box-shadow: 12px 12px 65px rgba(51, 51, 51, 0.45);
}
.container__meal-img{
    background: url(../img/ham.jpg)no-repeat left center;
    height: 840px;
    width: 681px;

}

.container__meal-description{
    width: 652px;
}

.container__meal-name{

    font-size: 40px;
    text-align: center;
    border-bottom: 1px solid #e7e8e9;
}
.container__meal-name>h1{
    margin-bottom: 120px;
}
.container__meal-name>p{
    margin-top: 131px;
    margin-bottom: 70px;
}
.container__meal-name>.montserrat:after{
        display: block;
        width: 100px;
        content: '';
        position: relative;
        border-bottom: 2px solid #e7e8e9;
        top: 55px;
        left: 273px;
}
.container__meal-components{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #e7e8e9;
}
.container__meal-coast{
    display: flex;
    align-items:center;
    justify-content: center;
}
.block1{
    margin-left: 48px;
}
.block2{
    font-size: 16px;
    color: #8a8f9c;
    font-weight:500;
    margin-left: 76px;
    margin-top: 75px;
    margin-bottom: 75px;;
}
.dollar{
    margin-top: 60px;
}
.dollar>span{
    color: #829c2c;
    font-size: 72px;
}
.dollar>p{
    margin-top: 20px;
    margin-bottom: 80px;
}
